# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Logs
logs/
*.log

# SQLite database files
*.sqlite3

# Virtual environment
venv/
ENV/
env/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Pytest
.cache

# IDE files
.idea/
.vscode/
